
@{
    ViewBag.Title = "DangNhapDangKy";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@model QuanLyCuaHangBanSach.Models.KHACHHANG

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Login and Signup Form </title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/login_register.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body style="background-image: url(https://drsw10gc90t0z.cloudfront.net/AcuCustom/Sitename/DAM/483/Housmans_Bookshop.jpg);">
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header class="dangNhap">Đăng nhập</header>
                <span class="close-icon">
                    <div class="bx bx-x"></div>
                </span>
                <form action="@Url.Action("DangNhapDangKy", "DangNhapDangKy")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="field input-field">
                        <input type="text" name="username" placeholder="Eg: NguyenVanA123" class="input" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Nhập mật khẩu" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="form-link">
                        <a href="#" class="forgot-pass">Bạn quên mật khẩu?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Đăng nhập</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Bạn chưa có tài khoản? <a href="#" class="link signup-link">Đăng ký</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Đăng nhập với Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="images/google.png" alt="" class="google-img">
                    <span>Đăng nhập với Google</span>
                </a>
            </div>

        </div>

        <!-- Signup Form -->

        <div class="form2 signup">
            <div class="form-content">
                <header>Đăng ký</header>
                <span class="close-icon">
                    <div class="bx bx-x"></div>
                </span>
                <form action="@Url.Action("DangKy", "DangNhapDangKy")" method="post">
                    @Html.AntiForgeryToken()

                    <!-- Họ Tên -->
                    <div class="field input-field">
                        <input type="text" name="HoTen" placeholder="Eg: Nguyễn Văn A" class="input" required>
                    </div>

                    <!-- Số Điện Thoại -->
                    <div class="field input-field">
                        <input type="tel" name="SoDienThoai" pattern="[0-9]{10}" placeholder="Eg: 0934742106" class="input" required>
                    </div>

                    <!-- Địa Chỉ -->
                    <div class="field input-field">
                        <input type="text" name="DiaChi" placeholder="Eg: 48 Cao Thắng, Hải Châu, Đà Nẵng" class="input" required>
                    </div>

                    <!-- Email -->
                    <div class="field input-field">
                        <input type="email" name="Email" placeholder="Eg: abc123@gmail.com" class="input" required>
                    </div>

                    <!-- Tài Khoản -->
                    <div class="field input-field">
                        <input type="text" name="TaiKhoan" placeholder="Eg: nguyenvana123" class="input" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="MatKhau" placeholder="Nhập mật khẩu" class="password" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" name="XacNhanMatKhau" placeholder="Xác nhận lại mật khẩu" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button>Đăng ký</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Bạn đã có tài khoản? <a href="#" class="link login-link">Đăng nhập</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Đăng nhập với Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="images/google.png" alt="" class="google-img">
                    <span>Đăng nhập với Google</span>
                </a>
            </div>

        </div>
    </section>

    <!-- JavaScript -->
    <script src="~/js/login_register_action.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>

